// colors
$base-light:#fff;
$base-dark:#000;
$primary-1:#03a9f4;
$primary-2:#f75e2e;
$primary-3:#ecfa4d;
$primary-4:#656a70;

$primary-5:#e6f7fe;
$primary-6:#f6f9f9;

// primary-1
$li-1-1: mix($primary-1, #fff, 60%);
$li-2-1: mix($primary-1, #fff, 25%);
$li-3-1: mix($primary-1, #fff, 10%);

$dl-1-1: mix($primary-1, #000, 80%);
$dl-2-1: mix($primary-1, #000, 50%);
$dl-3-1: mix($primary-1, #000, 30%);
// primary-2
$li-1-2: mix($primary-2, #fff, 60%);
$li-2-2: mix($primary-2, #fff, 25%);
$li-3-2: mix($primary-2, #fff, 10%);

$dl-1-2: mix($primary-2, #000, 80%);
$dl-2-2: mix($primary-2, #000, 50%);
$dl-3-2: mix($primary-2, #000, 30%);
// primary-3
$li-1-3: mix($primary-3, #fff, 60%);
$li-2-3: mix($primary-3, #fff, 25%);
$li-3-3: mix($primary-3, #fff, 10%);

$dl-1-3: mix($primary-3, #000, 80%);
$dl-2-3: mix($primary-3, #000, 50%);
$dl-3-3: mix($primary-3, #000, 30%);
// primary-4
$li-1-4: mix($primary-4, #fff, 60%);
$li-2-4: mix($primary-4, #fff, 25%);
$li-3-4: mix($primary-4, #fff, 10%);

$dl-1-4: mix($primary-4, #000, 80%);
$dl-2-4: mix($primary-4, #000, 50%);
$dl-3-4: mix($primary-4, #000, 30%);

// main-colors
$primary-main-1:#09a912;
$primary-main-2:#f44747;
$primary-main-3:#ffaa33;
$primary-main-4:#21a5f8;

// fonts
$Poppins-SemiBold:'Poppins-SemiBold';
$Poppins-Light: 'Poppins-Light';
$Poppins-Regular:'Poppins-Regular';
$Poppins-Medium: 'Poppins-Medium';

$Material: 'Material Icons';

$Museo-Sans-bold: 'Museo Sans 700';
$Museo-Sans-medium: 'Museo Sans 500';

$Myriad-Pro: 'Myriad Pro';

$Gabriola: 'Gabriola';

$Arial: 'Arial';

$Open-Sans-regular: 'Open Sans regular';
$Open-Sans-italic: 'Open Sans italic';
$Open-Sans-bold: 'Open Sans bold';
