@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../../fonts//Poppins-SemiBold.woff2') format('woff2'),
        url('../../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    src: url('../../fonts/MaterialIcons-Regular.woff2') format('woff2'),
        url('../../fonts/MaterialIcons-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../../fonts/Poppins-Light.woff2') format('woff2'),
        url('../../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans bold';
    src: url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans italic';
    src: url('../../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans regular';
    src: url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../../fonts/ArialMT.woff2') format('woff2'),
        url('../../fonts/ArialMT.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gabriola';
    src: url('../../fonts/Gabriola.woff2') format('woff2'),
        url('../../fonts/Gabriola.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('../../fonts/MuseoSans-500.woff2') format('woff2'),
        url('../../fonts/MuseoSans-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('../../fonts/MuseoSans-700.woff2') format('woff2'),
        url('../../fonts/MuseoSans-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

